
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

root {
  display: block;
}

html {
  height: 100%;
}

/* ------------------ */

body {
  background: url('../images/body-bg.png') repeat;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.body-header {
  position: relative;
  background-color: #be1f24;
  height: 114px;
  top:0px;
}

.slogan {
  color: #ffffff;
  right: 10px;
  bottom:10px;
  position: absolute;
  overflow: hidden;
  font: 1.2em Arial,Helvetica,sans-serif;
}

.logo {
  background: url('../images/e-reolen.png') no-repeat;
  width: 352px;
  height: 100%;
  float: left;
  margin-left:31px;
  cursor: pointer;
}

.content {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

input.ui-widget-content { top: 25%; }

.green-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
}

.green-button {
  height: 42px;
  padding: 0 15px 0 15px;
  color: #446c12;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #b5db87;
  background-color: #baf05e;
  background: -webkit-gradient(linear, left top, left bottom, from(#baf05e), to(#62b200));
  background: -moz-linear-gradient(top, #baf05e, #62b200);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#baf05e, endColorstr=#62b200);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#baf05e, endColorstr=#62b200)";

  text-shadow: 0px 1px #b5db87, -0px -1px rgba(0,0,0,.3);
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  cursor: pointer;
}

.form-email input[type="text"] {
  text-align:center;
  width: 98%;
  height: 40px;
  border-color: #666;
}

.form-email .submit {
  text-align: right;
  margin-right: 2px;
}

.form-email p{
  margin:0px;
  text-align:left;
  font-size: 90%;
  margin-top: 10px;
}

.form-email {
  position: absolute;
  bottom: 10px;
  text-align: left;
}

#popup {
  font-family: Arial,Helvetica,sans-serif;
  font-size: .9em;
  line-height: 150%;
  margin: 5px;
  width: 352px;
  height: 450px;
  color:#000;
}

#popup h3 {
  font-weight: bold;
}

#popup #bookdata img { width: 100px;height:auto;float:left;padding:0 5px 5px 0; }

#myform { clear:both;}

#message {
  display: table;
  width: 100%;
  margin: 5px 0;
}

#message div {
  padding: 5px;
}

#message p {
  padding-left: 50px;
  display: table-cell;
  vertical-align: middle;
}

.message-info {
  background: #c1d3ee url('../images/icon-info.png') no-repeat 5% 50%;
  border: 1px solid #5589d8;
}

.message-success {
  background: #c4ecc4 url('../images/icon-success.png') no-repeat 5% 50%;
  border: 1px solid #257325;
}

.message-error {
  background: #f7c4c4 url('../images/icon-error.png') no-repeat 5% 50%;
  border: 1px solid #d92222;
}

.fancybox-wrap {
  margin: 0;
  z-index: 20000;
}

.fancybox-inner {
  overflow: hidden;
}

#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 50px;
  height: 50px;
  background-image: url('../images/fancy_close.png');
  background-position: -0px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}

.ui-keyboard{ padding: .3em; }
.ui-keyboard-button{height: 3em; width: 3em; margin: .1em;}
.ui-keyboard-button span {font-size: 1.5em;}
.ui-keyboard-actionkey{width: 6em;}
.ui-keyboard-space{width: 20em;}

#menucontainer{ height:40px; background-color:black; }
#menu { position:relative; z-index: 5000; margin-left: auto ; margin-right: auto ; width:600px;}
#menu li { display:inline-block; width: auto; }
#menu li.sub { display:block; width: auto;}
#menu > .ui-menu-item { width: 150px;background: #000; }
.ui-widget-content { border: none; background:#000; }

#imagecontainer {
  margin: 0 auto;
  padding:30px 120px 30px 120px;
  position: relative;
}
.imagebanner-left,
.imagebanner-right { position: absolute; top: 50%; height: 124px; margin-top: -62px; z-index: 200; cursor: pointer; }

.imagebanner-left { left: 20px; }
.imagebanner-right { right: 20px; }

.imagebanner {
  position: relative;
  overflow: hidden;
  height: 506px;
}

.imagebanner ul {
  width: 6000px;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}

.imagebanner li {
  float: left;
}

.imagebanner img {
  border:3px solid #fff;
  margin: 0 80px 0 0;
}
