/* 
    Document   : plugin-override
    Created on : 27-10-2011, 10:19:49
    Author     : azkb073
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

.imageflow img {
  border:.5em solid #fff;
}

.imageflow {
  margin-top: 100px;
  width: 80%;
  height: 100%;
  border: 1px dashed red;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 50px;
	height: 50px;
	background-image: url('../images/fancy_close.png');
	background-position: -0px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}