/* 
    Document   : spot.css
    Created on : 20-10-2011, 11:31:40
    Author     : azkb073
    Description:
        Purpose of the stylesheet follows.
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

root { 
  display: block;
}

html {
  height: 100%;  
}

body {
  background: url('../images/body-bg.png') repeat;
  min-height: 100%;
  width: 100%;
}

.body-header {
  position: relative;
  background-color: #be1f24;
  height: 114px;
  top:00px;
}

.slogan {
  background: url('../images/slogan.png') no-repeat;
  width:500px;
  height:20px;
  right: 0px;
  bottom:10px;
  position: absolute;
}

.logo {
  background: url('../images/e-reolen.png') no-repeat;
  width: 352px;
  height: 100%;
  float: left;
  margin-left:31px;
}

.content {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.slider {
  margin: 0px auto;
}

.slider .slider-nav {
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.slider-arrow-left,
.slider-arrow-right {
  position: fixed;
  top: 44%;
}

 .slider-arrow-left {
  left: 40px;
  z-index: 100;
  cursor: pointer;
  cursor: hand;
}

 .slider-arrow-right {
  right: 40px;
  z-index: 100;
  cursor: pointer;
  cursor: hand;
}

.slimg {
  display: inline-block;
  margin: 10px;
}

.slimg img {
  vertical-align: middle;
}

input.ui-widget-content {
  top: 25%;
}
.green-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
}
.green-button {
  height: 42px;
  color: #446c12;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #b5db87;
	background: -webkit-gradient(linear, left top, left bottom, from(#baf05e), to(#62b200));
	background: -moz-linear-gradient(top, #baf05e, #62b200);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#baf05e', endColorstr='#62b200');

	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
  
  margin-right:-2px;
  cursor: pointer;
  cursor: hand;

}

.form-email-felt {
  width: 100%;
  height:30px;
}
.form-email p{
  margin-top: 10px;
}
.form-email {
  position: absolute;
  bottom: 10px;
  text-align: right;
  
}