/* 
    Document   : spot.css
    Created on : 20-10-2011, 11:31:40
    Author     : azkb073
    Description:
        Purpose of the stylesheet follows.
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

root { 
  display: block;
}

html {
  height: 100%;  
}

/* ------------------  */

body {
  background: url('../images/body-bg.png') repeat;
  min-height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
}

.body-header {
  position: relative;
  background-color: #be1f24;
  height: 114px;
  top:00px;
}

@media (min-width: 600px){
.slogan {
  /*background: url('../images/slogan.png') no-repeat;*/
  font: 1.2em  Arial,Helvetica,sans-serif ;
  color: #ffffff;
  right: 10px;
  bottom:10px;
  position: absolute;
  overflow: hidden;
}
}
@media (max-width: 600px){
.slogan {
  /*background: url('../images/slogan.png') no-repeat;*/
  font: .5em  Arial,Helvetica,sans-serif ;
  color: #ffffff;
  right: 10px;
  bottom:10px;
  position: absolute;
  overflow: hidden;
}

.popup-wrapper {
  font-size: .9em;
  width: 100%;
}
}

#main  { width:100%; top: 00px; position: absolute; margin: 0px auto;} 

@media (max-width: 900px){
  #main {
    top: 70px;
  }
}

.logo {
  background: url('../images/e-reolen.png') no-repeat;
  width: 352px;
  height: 100%;
  float: left;
  margin-left:31px;
  cursor: pointer;
  cursor: hand;
}

.content {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.slider {
  margin: 0px auto;
}

.slider .slider-nav {
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.slider-arrow-left,
.slider-arrow-right {
/*fixed pos aligner arrows til outer div, absolute aligner til main*/
  position: absolute; 
  margin-top: 12%;
  top: 44%;
  width: 6%;
}
.slider-arrow-left img,
.slider-arrow-right img {
  max-width: 100%;
}
 .slider-arrow-left {
  left: 40px;
  z-index: 100;
  cursor: pointer;
  cursor: hand;
}

 .slider-arrow-right {
  right: 40px;
  z-index: 100;
  cursor: pointer;
  cursor: hand;
}

.slimg {
  display: inline-block;
  margin: 10px;
}

.slimg img {
  vertical-align: middle;
}

input.ui-widget-content {
  top: 25%;
}
.green-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
}
.green-button {
  height: 42px;
  padding: 0 15px 0 15px;
  color: #446c12;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #b5db87;
  background-color: #baf05e;
	background: -webkit-gradient(linear, left top, left bottom, from(#baf05e), to(#62b200));
	background: -moz-linear-gradient(top, #baf05e, #62b200);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#baf05e', endColorstr='#62b200');

	/*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
	text-shadow: 0px 1px #b5db87, -0px -1px rgba(0,0,0,.3);
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
  
  cursor: pointer;
  cursor: hand;
}

.desc { 
  font-size: 90% 
}

.email-text {
  margin:0px;
  text-align:left;
}
.email-text.tiny{
  font-size: 70%;
}

.form-email-felt {
  text-align:center;
  width: 98%;
  height: 30px;
}
.form-email p{
  margin-top: 10px;
}
.form-email {
  position: absolute;
  bottom: 10px;
  text-align: left;
  
}

.popup-form {
  font-family: Arial,Helvetica,sans-serif;
  font-size: .9em;
  line-height: 150%;
  margin: 5px; 
}
.popup-form h3 {
  font-weight: bold;
}

.submit {
  text-align: right;
  margin-right: 2px; 
}

#fancybox-wrap {
  margin: 0; 
  z-index: 20000;
  /*max-width: 25%;*/
}
#fancybox-inner {
  overflow: hidden;
  
}

.ui-keyboard {
  z-index: 30000;
}

.popup-wrapper {
/*  width: 25%;*/
}

#popup { 
  max-width: 352px;
  min-height: 450px; 
  color:#000; 
}

/* irrelevante styles fjernes herunder */

* { font-family:verdana, arial, helvetica, sans-serif; } 
/*html { height:100%; width:100%; } */



/*#header,#footer { height:50px;}*/


#result 	{ padding:6px 0;font-weight: bold}

#bookdata img 	{ width: 100px;height:auto;float:left;padding:0 5px 5px 0; }

#myform {  clear:both;}

label 			{ width: 4em; float: left; text-align: right; margin-right: 0.5em; display: block } 
.submit input 	{ margin-left: 4.5em; } 	

